<h1 id="titulo">Listando todos artigos</h1>
	
<% @artigos.each do |artigo| %>
	<div class="container">
			<div class="well">
				<div class="tilulo-artigo">
					<%= link_to artigo.titulo, artigo_path(artigo) %>
				</div>
				<div class="corpo-artigo">
					<%= truncate(artigo.descricao, lenght: 100) %>
				</div>
				<div class="acoes-artigo">
					<%= link_to "Editar este artigo", edit_artigo_path(artigo), 
									class: "btn btn-sm btn-primary" %>
					<%= link_to "Deletar esse artigo", artigo_path(artigo), method: :delete,
					  				data: { confirm: "Você tem certeza que deseja deletar esse artigo?" }, 
					  				class: "btn btn-sm btn-danger"%>
				</div>	
			</div>
	</div>
<% end %>
