<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="center jumbotron">
  <h1 class="display-3">Alpha Blog</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ex ut lorem cursus tincidunt. Pellentesque consequat tincidunt sapien, vitae venenatis tortor pretium a.</p>
  <hr class="my-4">
    <p>Aenean sit amet enim eget odio condimentum sollicitudin. Aliquam sapien odio, consequat sed enim et, imperdiet mollis ex.</p>
  <p class="lead">
   <%= link_to "Criar conta", "#", class: "btn btn-primary btn-lg" %>
  </p>
</div>
</body>
</html>
