<% if objeto.errors.any? %>
	<div class="col-xs-8 col-xs-offset-2">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h2 class="panel-title">
					<%= pluralize(objeto.errors.count, "erro") %>
					impossibilita que esse objeto de seja salvo:
				</h2>
				<div class="panel-body">
					<ul>
						<% objeto.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
<% end %>