<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a>vB</a>
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to "Sobre", sobre_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>